{
    "path": ".",
    "rules": {
        "assets": {
            "SK_PaperBoy_T_Pose.w4a": {
                "animations": {
                    "A_PaperBoy_PlatformerStart.fbx": [
                        "rename=Take 001=PlatformerStart"
                    ],
                    "A_PaperBoy_Walk.fbx": [
                        "rename=Take 001=Walk"
                    ]
                },
                "models": {
                    "SK_PaperBoy_T_Pose.fbx": [
                        "no-animation",
                        "add-animation=Walk",
                        "add-animation=PlatformerStart"
                    ]
                }
            },
            "default.w4a": {
                "images": [
                    "textures/acacia_door_bottom.png",
                    "textures/acacia_leaves.png",
                    "textures/acacia_log.png",
                    "textures/bluecloud_bk.jpg",
                    "textures/bluecloud_bk.png",
                    "textures/bluecloud_dn.jpg",
                    "textures/bluecloud_dn.png",
                    "textures/bluecloud_ft.jpg",
                    "textures/bluecloud_ft.png",
                    "textures/bluecloud_lf.jpg",
                    "textures/bluecloud_lf.png",
                    "textures/bluecloud_rt.jpg",
                    "textures/bluecloud_rt.png",
                    "textures/bluecloud_up.jpg",
                    "textures/bluecloud_up.png",
                    "textures/bricks2.png",
                    "textures/bricks2_disp.png",
                    "textures/bricks2_gray.png",
                    "textures/bricks2_normal.png",
                    "textures/crate_2.png",
                    "textures/crate_nm.png",
                    "textures/cube.png"
                ],
                "materials": [
                    "materials/mixText.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/mixText.fs",
            "materials/shaders/mixText.vs"
        ]
    },
    "version": "0.3"
}