{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "particles/particle.png",
                    "textures/color.png",
                    "textures/normal.png"
                ],
                "materials": [
                    "materials/bump.mat"
                ],
                "particles": [
                    "particles/particle.part"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/bump.fs",
            "materials/shaders/bump.vs"
        ]
    },
    "version": "0.3"
}