{
    "path": ".",
    "rules": {
        "assets": {
            "DamagedHelmet.w4a": {
                "models": {
                    "DamagedHelmet.fbx": null
                }
            },
            "default.w4a": {
                "images": [
                    "Default_AO.jpg",
                    "Default_albedo.jpg",
                    "Default_emissive.jpg",
                    "Default_metalRoughness.jpg",
                    "Default_normal.jpg",
                    "textures/albedo.jpg",
                    "textures/ao.jpg",
                    "textures/emissive.jpg",
                    "textures/metalRoughness.jpg",
                    "textures/normal.jpg"
                ],
                "materials": [
                    "materials/pbr.mat"
                ]
            }
        },
        "pass": [
            "DamagedHelmet.blend"
        ],
        "skip": [
            "AssetCreator.config",
            "materials/shaders/pbr.fs",
            "materials/shaders/pbr.vs"
        ]
    },
    "version": "0.3"
}