{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/archery_target.png"
                ],
                "materials": [
                    "materials/clouds.mat",
                    "materials/simple.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/clouds.fs",
            "materials/shaders/clouds.vs",
            "materials/shaders/simple.fs",
            "materials/shaders/simple.vs"
        ]
    },
    "version": "0.3"
}