{
    "path": ".",
    "rules": {
        "assets": {
            "SK_PaperBoy_T_Pose.w4a": {
                "animations": {
                    "A_PaperBoy_Run.fbx": [
                        "rename=Take 001=A_PaperBoy_Run"
                    ]
                },
                "models": {
                    "SK_PaperBoy_T_Pose.fbx": [
                        "no-animation",
                        "add-animation=A_PaperBoy_Run"
                    ]
                }
            }
        },
        "pass": [
            "SK_PaperBoy_T_Pose.fbx.args"
        ],
        "skip": [
            "AssetCreator.config"
        ]
    },
    "version": "0.3"
}