{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/O.png",
                    "textures/X.png"
                ],
                "materials": [
                    "materials/cube.mat",
                    "materials/textureCube.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/cube.fs",
            "materials/shaders/std.vs",
            "materials/shaders/textureCube.fs"
        ]
    },
    "version": "0.3"
}