{
    "path": ".",
    "rules": {
        "assets": {
            "SK_PaperBoy_T_Pose.w4a": {
                "animations": {
                    "animations/A_PaperBoy_Jump_Down.fbx": [
                        "rename=Take 001=A_PaperBoy_Jump_Down"
                    ],
                    "animations/A_PaperBoy_Jump_Up.fbx": [
                        "rename=Take 001=A_PaperBoy_Jump_Up"
                    ],
                    "animations/A_PaperBoy_Run.fbx": [
                        "rename=Take 001=A_PaperBoy_Run"
                    ]
                },
                "models": {
                    "SK_PaperBoy_T_Pose.fbx": [
                        "no-animation",
                        "add-animation=A_PaperBoy_Jump_Down",
                        "add-animation=A_PaperBoy_Jump_Up",
                        "add-animation=A_PaperBoy_Run"
                    ]
                }
            },
            "default.w4a": {
                "images": [
                    "textures/Rock1Texture.png",
                    "textures/Rock2Texture.png",
                    "textures/Rock3Texture.png",
                    "textures/Rock4Texture.png",
                    "textures/layer_1.png",
                    "textures/layer_2.png",
                    "textures/layer_trail.png",
                    "textures/rocks.png"
                ],
                "materials": [
                    "materials/background.mat",
                    "materials/road.mat",
                    "materials/rocks.mat"
                ]
            },
            "rocks.w4a": {
                "models": {
                    "rocks.fbx": null
                }
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/background.fs",
            "materials/shaders/road.fs",
            "materials/shaders/rocks.fs",
            "materials/shaders/rocks.vs",
            "materials/shaders/simple.vs"
        ]
    },
    "version": "0.3"
}