{
    "path": ".",
    "rules": {
        "assets": {
            "SK_PaperBoy_T_Pose.w4a": {
                "animations": {
                    "animations/A_PaperBoy_Run.fbx": [
                        "rename=Take 001=Run"
                    ],
                    "animations/A_PaperBoy_Walk.fbx": [
                        "rename=Take 001=Walk"
                    ]
                },
                "models": {
                    "SK_PaperBoy_T_Pose.fbx": [
                        "no-animation",
                        "add-animation=Run",
                        "add-animation=Walk"
                    ]
                }
            }
        },
        "skip": [
            "AssetCreator.config"
        ]
    },
    "version": "0.3"
}