{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/nx.jpg",
                    "textures/ny.jpg",
                    "textures/nz.jpg",
                    "textures/px.jpg",
                    "textures/py.jpg",
                    "textures/pz.jpg"
                ],
                "materials": [
                    "materials/sphere.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/sphere.fs",
            "materials/shaders/sphere.vs"
        ]
    },
    "version": "0.3"
}