{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "materials": [
                    "back1.mat",
                    "back2.mat",
                    "back3.mat",
                    "back4.mat",
                    "back5.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "shaders/back.vs",
            "shaders/back1.fs",
            "shaders/back2.fs",
            "shaders/back3.fs",
            "shaders/back4.fs",
            "shaders/back5.fs"
        ]
    },
    "version": "0.3"
}