{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "back.jpg"
                ],
                "materials": [
                    "materials/background.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/background.fs",
            "materials/shaders/background.vs"
        ]
    },
    "version": "0.3"
}