{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "owl-pma.png",
                    "spineboy-pma.png"
                ]
            }
        },
        "pass": [
            "owl-pma.atlas",
            "owl-pro.json",
            "owl-pro.skel",
            "spineboy-pma.atlas",
            "spineboy-pro.json",
            "spineboy-pro.skel"
        ],
        "skip": [
            "AssetCreator.config"
        ]
    },
    "version": "0.3"
}