{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/back.png",
                    "textures/bottom.png",
                    "textures/front.png",
                    "textures/left.png",
                    "textures/obsidian2.jpg",
                    "textures/right.png",
                    "textures/top.png"
                ],
                "materials": [
                    "materials/unlit.mat"
                ]
            }
        },
        "pass": [
            "css/styles.css"
        ],
        "skip": [
            "AssetCreator.config",
            "materials/shaders/unlit.fs",
            "materials/shaders/unlit.vs"
        ]
    },
    "version": "0.3"
}