{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/uv_test.png"
                ],
                "materials": [
                    "materials/blurHor.mat",
                    "materials/blurVert.mat",
                    "materials/bright.mat",
                    "materials/compose.mat",
                    "materials/simple.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/blurHor.fs",
            "materials/shaders/blurVert.fs",
            "materials/shaders/bright.fs",
            "materials/shaders/compose.fs",
            "materials/shaders/fx.vs",
            "materials/shaders/simple.fs",
            "materials/shaders/simple.vs"
        ]
    },
    "version": "0.3"
}