{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "materials": [
                    "materials/blurHor.mat",
                    "materials/blurVert.mat",
                    "materials/bright.mat",
                    "materials/compose.mat",
                    "materials/simple.mat"
                ]
            }
        },
        "pass": [
            "ui/active_repeat.png",
            "ui/back.png",
            "ui/forward.png",
            "ui/loud.png",
            "ui/mute.png",
            "ui/pause.png",
            "ui/play.png",
            "ui/repeat.png",
            "video/RobotDancing.mp4"
        ],
        "skip": [
            "AssetCreator.config",
            "materials/shaders/blurHor.fs",
            "materials/shaders/blurVert.fs",
            "materials/shaders/bright.fs",
            "materials/shaders/compose.fs",
            "materials/shaders/fx.vs",
            "materials/shaders/simple.fs",
            "materials/shaders/simple.vs"
        ]
    },
    "version": "0.3"
}