{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/back.png",
                    "textures/bottom.png",
                    "textures/front.png",
                    "textures/left.png",
                    "textures/right.png",
                    "textures/top.png"
                ],
                "materials": [
                    "materials/water.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/water.fs",
            "materials/shaders/water.vs"
        ]
    },
    "version": "0.3"
}