{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "materials": [
                    "materials/topologica.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/topologica.fs",
            "materials/shaders/topologica.vs"
        ]
    },
    "version": "0.3"
}