{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "textures/stone.jpeg"
                ],
                "materials": [
                    "materials/unlit.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/unlit.fs",
            "materials/shaders/unlit.vs"
        ]
    },
    "version": "0.3"
}