{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "win_texture.png"
                ],
                "particles": [
                    "win.part"
                ]
            }
        },
        "skip": [
            "AssetCreator.config"
        ]
    },
    "version": "0.3"
}