{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "animation.png"
                ],
                "materials": [
                    "animated.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "animated.fs",
            "animated.vs"
        ]
    },
    "version": "0.3"
}