{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "materials": [
                    "materials/clouds.mat"
                ]
            }
        },
        "skip": [
            "AssetCreator.config",
            "materials/shaders/clouds.fs",
            "materials/shaders/clouds.vs"
        ]
    },
    "version": "0.3"
}